@model ECommerce.Models.ViewModels.ProfileViewModel
<div class="mail animated wow zoomIn" data-wow-delay=".5s">
    <div class="container">
        <h3>Profile</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">Welcome to the most useless thing in the entire universe.</p>
        <div class="mail-grids">
            <div class="col-md-8 mail-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                <form id="editForm" novalidate asp-controller="Auth" enctype="multipart/form-data" asp-action="EditProfile" method="post">
                    @{ var hidden = "hidden"; }

                    @if (!ViewData.ModelState.IsValid)
                    {
                        hidden = "";
                    }

                    <div class="alert alert-danger" role="alert" id="error_message" @hidden>
                        @if (!ViewData.ModelState.IsValid)
                        {
                            @foreach (var modelState in ViewData.ModelState.Values)
                            {
                                @if (modelState.Errors.Count > 0 && !modelState.Errors[0].ErrorMessage.Equals("Invalid model."))
                                {

                                    @foreach (var error in modelState.Errors)
                                    {
                                        @error.ErrorMessage <br />
                                    }
                                }

                            }
                        }
                    </div>
                    <div>
                        <input type="text" value="@Model.Firstname" asp-for="Firstname" placeholder="First Name..." id="reg_first" onfocus="this.placeholder = '';" onblur="if (this.placeholder === '') {this.placeholder = 'First Name...';}">
                        <input type="email" value="@Model.Lastname" asp-for="Lastname" placeholder="Last Name..." id="reg_last" onfocus="this.placeholder = '';" onblur="if (this.placeholder === '') {this.placeholder = 'Last Name...';}">
                        <input type="text" value="@Model.Email" asp-for="Email" placeholder="Email Address..." id="reg_email" onfocus="this.placeholder = '';" onblur="if (this.placeholder === '') {this.placeholder = 'Email Address...';}">
                        <input type="email" value="@Model.Phone" asp-for="Phone" placeholder="Mobile Number..." id="reg_mobile" onfocus="this.placeholder = '';" onblur="if (this.placeholder === '') {this.placeholder = 'Mobile Number...';}">

                        <div id="usertags"></div>

                    </div>

                    <br />
                    <input type="file" name="image" class="form-control" id="imageUpload" style="visibility: hidden;height: 0;width: 0">

                    <input type="submit" value="Save Changes" style="max-width:150px">

                </form>


            </div>
            <div class="col-md-4 mail-grid-right animated wow slideInRight" data-wow-delay=".5s">
                <div class="mail-grid-right1">

                    <img src="@Model.ImageBase64" alt=" " class="img-responsive" style="height:150px ;width:150px" id="imageView" />

                    <span>Upload</span>
                    <ul class="social-icons">
                        <li>
                            <a class="photo" id="imageUploadTrigger"></a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //mail -->
<script src="/js/komy/common.js"></script>
<script src="/js/komy/editProfile.js"></script>