@model IEnumerable<ECommerce.Models.Database.Products>
    
@{
    var groups = Model.Select((o, i) => (i,o)).GroupBy(o => o.Item1 / 3);
    foreach (var group in groups)
    {
        <div class="col-md-4 products-right-grids-bottom-grid">
            @foreach (var (_,product) in group)
            {
                <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                    <div class="new-collections-grid1-image">
                        <a asp-controller="Products" asp-action="Single" asp-route-id="@product.Id">
                            <img src="/images/19.jpg" alt=" " class="img-responsive">
                        </a>
                        <div class="new-collections-grid1-image-pos products-right-grids-pos">
                            <a asp-controller="Products" asp-action="Single" asp-route-id="@product.Id">
                                Quick View
                            </a>
                        </div>
                        <div class="new-collections-grid1-right products-right-grids-pos-right">
                            <div class="rating">
                                <div class="rating-left">
                                    <img src="@($"/ProductsImages/{product.Image1}")" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="@($"/ProductsImages/{product.Image2}")" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="@($"/ProductsImages/{product.Image3}")" alt=" " class="img-responsive">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <h4><a asp-controller="Products" asp-action="Single" asp-route-id="@product.Id"> @product.Name</a></h4>
                    <p>@product.Description</p>
                    <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                        <p><i></i><span class="item_price">@product.Price</span><a class="item_add"></a></p>
                    </div>
                </div>
            }
        </div>
    }
}
<div class="clearfix"></div>