@using ECommerce.Models.NewDb
@model Product
@section Scripts{
    <!-- zooming-effect -->
    <script src="/js/imagezoom.js"></script>
    <!-- //zooming-effect -->
    <script>
        $(function () {
        });
    </script>
}


<div class="single">
    <div class="container">
        <div class="col-md-4 products-left">
            @{
                if (ViewData["Ad"] is Advertisement ad)
                {
                    <div class="men-position animated  slideInUp" SpecialOffer>
                        <a href="@ad.Url"><img src="/images/Ads/@ad.Id" alt=" " class="img-responsive" /></a>
                        <div class="men-position-pos">
                            <h4>@ad.Caption</h4>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-8 single-right">
            <div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                <div class="flexslider">
                    <ul class="slides">
                        @foreach (var image in Model.Images)
                        {
                            <li data-thumb="@image.Url">
                                <div class="thumb-image"> <img src="@image.Url" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        }
                    </ul>
                </div>
                <!-- flixslider -->
                <script defer src="/js/jquery.flexslider.js"></script>
                <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
                <!-- flixslider -->
            </div>
            <div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
                <h3>@Model.Name</h3>
                <h4><span class="item_price">@Model.Price.ToString("C")</span></h4>
                @{
                    double count = Model.Reviews.Count;
                    var total = Model.Reviews.Aggregate(0, (res, rev) => res + rev.Rating);
                    var result = (int)Math.Round(total / count);
                    <div class="rating1">
                        <span class="starRating">
                            @for (var i = 1; i < 6; i++)
                            {
                                <input id="rating@i" type="radio" name="rating" value="@i" @(i==result ? "checked" : "")/>
                                <label for="rating@i">@i</label>
                            }
                        </span>
                    </div>
                }
                <div class="description">
                    <h5><i>Description</i></h5>
                    <p>
                        @Model.ShortDescription
                    </p>
                </div>
                <div class="occasion-cart">
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" class="item_add" data-id="@Model.Id">Add to cart </a>
                </div>
                <div class="social">
                    <div class="social-left">
                        <p>Share On :</p>
                    </div>
                    <div class="social-right">
                        <ul class="social-icons">
                            <li><a class="facebook"></a></li>
                            <li><a class="twitter"></a></li>
                            <li><a class="g"></a></li>
                            <li><a class="photo"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a></li>
                        <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Reviews(2)</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                            <h5>Product Brief Description</h5>
                            <p>
                                @Model.Description
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
                            <div class="bootstrap-tab-text-grids">
                                @foreach (var review in Model.Reviews)
                                {
                                    <div class="bootstrap-tab-text-grid">
                                        <div class="bootstrap-tab-text-grid-left">
                                            <img src="/images/4.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="bootstrap-tab-text-grid-right">
                                            <ul>
                                                <li><a href="#">@review.User.UserName</a></li>
                                            </ul>
                                            <p>
                                                @review.Content
                                            </p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                }
                                @*
                                        // todo: implement adding reviews.
                                        <div class="add-review">
                                        <h4>add a review</h4>
                                        <form>
                                            <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Name'; }" required="">
                                            <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Email'; }" required="">
                                            <input type="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Subject'; }" required="">
                                            <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Message...'; }" required="">Message...</textarea>
                                            <input type="submit" value="Send">
                                        </form>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>